
header {
    display: flex;
    align-items: center;
    flex: auto;
    background-color: gray;
}

h1{
    color: blue;
    flex: auto;
}

header a {
    font-size: large;
    padding: 20px;
    flex: auto;
}

body {
    background-color: lightslategray;
    /* background-image: url(./moutains.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
}


/*Display inline and padding to serperate items - need to be in the li elements and not ul */




#about-list {
    font-size: large;
}

/*Center image and contain size */
#profile {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/*Projects section into a flexbox */
#project-items{
    display: flex;
    flex-wrap: wrap;
}

.applications header {
    color: blue;
    background: yellow;
}

#week-1 img{
    width: 800px;
}

#week-2 img, #placeholder-1 img, #placeholder-2 img{
    width: 300px;
}

/*Contact Formatting */
#Contact ul {
    list-style: none;  
}

#contact li {
    display: inline;
}


/*Change behavior for smaller screens */
@media screen and (max-width: 1025px){
    /* header  {
        display: block;
        text-align: center;
    }
    #header {
        position: relative;
    }
    #profile {
        object-fit: contain;
        width: 100%;
    }
 
} */