
header {
    display: flex;
    align-items: center;
    background-color: gray;
    flex: 0 0 inherit;
    justify-content: center;
}

h1{
    color: blue;
}

header a {
    font-size: large;
    padding: 20px;
}


body {
    background-color: lightslategray;
    /* background-image: url(./moutains.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
}

#About {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2 {
    flex-basis: 15%;
}

#about-list {
    font-size: large;
}

#profile {
    max-width: 400px;
}


/*Projects section into a flexbox */
#project-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.applications header {
    color: blue;
    background: yellow;
}

#week-1 img{
    width: 90%;
    justify-items: right;
}

#week-2 img, #placeholder-1 img, #placeholder-2 img{
    width: 300px;
}

/*Contact Formatting */
#Contact ul {
    list-style: none;  
}

#contact li {
    display: inline;
}


/*Change behavior for smaller screens */
@media screen and (max-width: 768px){
    header  {
        flex-direction: column; 
        align-items: center;
        flex: 0 0 inherit;
    }
    #About {
        flex-direction: column;
        align-items: center;
        flex: 0 0 inherit;
    }
    /* #header {
        position: relative;
    }
    #profile {
        object-fit: contain;
        width: 100%;
    } */
 
}